.container {
  width: 80%;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img {
  width: inherit;
}
